<!-- Footer Component Template -->
<!-- Copy this to each page's <footer> section -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="footer-widget-info">
          <a href="#">
            <img src="src/images/img/footer-logo-1.webp" alt="JOBARIA Footer Logo" loading="lazy" width="152" height="40" />
          </a>
          <div class="short-desc">
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majorited have suffered alteration.
            </p>
          </div>
          <div class="widget-address">
            <div class="footer-adress">
              <span>Address: TTG Shop</span>
            </div>
            <div class="footer-email">
              <span>Mail us:</span>
              <a href="mailto:abcd@gmail.com">abcd@gmail.com</a>
            </div>
            <div class="footer-phone">
              <span>Phone:</span>
              <a href="tel:+012345678">+012 345 678</a>
            </div>
          </div>
          <div class="footer-social-link">
            <ul>
              <li class="facebook">
                <a href="https://facebook.com/" title="Facebook" aria-label="Facebook">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="x">
                <a href="https://x.com/" title="X" aria-label="X (Twitter)">
                  <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="youtube">
                <a href="https://youtube.com/" title="Youtube" aria-label="Youtube">
                  <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                </a>
              </li>
              <li class="google">
                <a href="#" title="Google+" aria-label="Google+">
                  <i class="fa-brands fa-google-plus-g" aria-hidden="true"></i>
                </a>
              </li>
              <li class="instagram">
                <a href="https://instagram.com/" title="Instagram" aria-label="Instagram">
                  <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="footer-widget__banner">
          <div class="widget-banner">
            <a href="#">
              <img src="src/images/img/widgets-banner.webp" alt="Banner quảng cáo" loading="lazy" width="300" height="400" />
            </a>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="footer-widget__title">
                <h5>Products</h5>
              </div>
              <div class="footer-widgets">
                <ul>
                  <li><a href="#">Legal Notice</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Prices Drop</a></li>
                  <li><a href="#">New Products</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-widget__title">
                <h5>Our Account</h5>
              </div>
              <div class="footer-widgets">
                <ul>
                  <li><a href="#">Personal Info</a></li>
                  <li><a href="#">Orders</a></li>
                  <li><a href="#">Credit Slips</a></li>
                  <li><a href="#">Addresses</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-widget__title">
                <h5>Our Support</h5>
              </div>
              <div class="footer-widgets">
                <ul>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Footer Bottom -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="copyright">
          <span>
            Copyright &copy; 2022 <a href="#">Jobaria.</a> All rights reserved.
          </span>
        </div>
      </div>
      <div class="col-6">
        <div class="payment">
          <a href="#">
            <img src="src/images/img/payment.webp" alt="Phương thức thanh toán" loading="lazy" width="300" height="30" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
